<!DOCTYPE html>
<html lang="en">
<!-- The customer view, the main chunk of our project. -->
<head>
    <!-- Imports for bootstrap/jquery/css/multiselect -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fat Cat Pizza</title>
    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="./stylesheets/customerCSS.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./stylesheets/bootstrap-multiselect.css" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="./javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="./javascripts/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="./javascripts/customerJavaScript.js"></script>
    <script type="text/javascript">
        //First Loads data into notifications
        var table_information = <%- JSON.stringify(tables) %>;
        var ingredients = <%- JSON.stringify(ingredients) %>;
        var currentuser = <%- JSON.stringify(userInformation) %>;
    </script>
</head>
<body onload="update()">


<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Fat Cat Pizza</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" id="homepageBar">
                <!-- Navigation bar content -->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div id="carouselBody"><div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="./images/ad-holder.jpg" alt="...">
                    <div class="text-left" id="below-caption">
                        <h3>Your Ad here</h3>
                        <p>Upload a file to advertise with us!</p>
                        </div>
                    <div class="text-right" id="below-caption">
                        <a class="btn btn-default" href="#food" data-toggle="modal">View Our Menu</a>
                        </div>
                    </div>
                <div class="item">
                    <img src="./images/pizza-banner.jpg" alt="...">
                    <div class="text-left" id="below-caption">
                        <h3>Food Specials</h3>
                        <p>Our new Spicy Pepperoni will knock your socks off!</p>
                        </div>
                    <div class="text-right" id="below-caption">
                        <a class="btn btn-default" href="#food" data-toggle="modal">View Our Menu</a>
                        </div>
                    </div>
                <div class="item">
                    <img src="./images/dessert-pizza.jpg" alt="...">
                    <div class="text-left" id="below-caption">
                        <h3>Dessert Specials</h3>
                        <p>Our new lava cake will melt your heart!</p>
                        </div>
                    <div class="text-right" id="below-caption">
                        <a class="btn btn-default" href="#desserts" data-toggle="modal">View Desserts</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div id="homepageBody"></div>

<!-- Fixed footer -->
<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="navbar-text pull-left">
            <!-- The Table 1 also acts as a log-out button -->
            <p id="table"><a href="#logout" data-toggle="modal">Table <%= userInformation.tableIndex + 1%></a>   | <a href="#nutrition-info" data-toggle="modal" onclick="nutrition()">Click here for Nutritional information!</a></p>
        </div>
        <div class="navbar-text pull-right">
            <!-- Facebook/Twitter icons -->
            <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a href="http://ctt.ec/hu239"><i class="fa fa-twitter fa-2x"></i></a>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!-- Drink chooser, displays icons of soda brands and allows you to pick them -->
<div class="modal fade" id="drink-chooser" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Drink Chooser</a>
                    </div>
                </div>
                <div id="drinkChooserModal" class="modal-body">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Login/Register Modal, this allows users to login or register for new accounts -->
<div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <h4>Login</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email-address" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email"  required class="form-control" id="login-email" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login-password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" required class="form-control" id="login-password" placeholder="********">
                        </div>
                    </div>
                    <div class="form-group" align="center">
                        <a href="#register" class="btn btn-default" data-toggle="modal" data-dismiss="modal">
                            Not registered?
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- The register Modal, allows users to create new accounts in our system -->
<div class="modal fade" id="register" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <h4>Register</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="register-name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" required class="form-control" id="register-name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register-email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" required class="form-control" id="register-email" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register-password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" required class="form-control" id="register-password" placeholder="********">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
<!-- This modal pulls up the number of people in the party, as well as the option to give them a refill
        or choose a new drink for themselves
-->
<div class="modal fade" id="drinks" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Drinks</a>
                    </div>
                </div>
                <div id="drinkModalBody" class="modal-body">
                </div>
                    <div id="numGuests" class="modal-footer">
                    </div>
            </form>
        </div>
    </div>
</div>
</div>
<!-- Simple dialog telling customer that a wait-staff is on the way -->
<div class="modal fade" id="help" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Need Help?</a>
                    </div>
                </div>
                <div class="modal-body">
                    <p></p>
                    <p class="text-center">Wait-staff are on the way!</p>
                    <div class="fb-like" data-share="true" data-width="380" data-show-faces="true"></div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Food menu, allows customers to choose between the pizza-builder or the dessert menu -->
<div class="modal fade" id="food" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">What do you want to look at?</a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="#pizza-builder" class="thumbnail" data-toggle="modal" data-dismiss="modal" onclick="updateIngredients()">
                                <img src="./images/pizza-small.jpg" alt="pizza">
                            </a>
                            <p class="text-center">
                                Pizza Builder
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <a href="#desserts" class="thumbnail" data-toggle="modal" data-dismiss="modal">
                                <img src="./images/dessert.jpg" alt="dessert pizza">
                            </a>
                            <p class="text-center">
                                Dessert Pizza Builder
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        Is this order To-Go?
                        <input type="checkbox">
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control input-sm" id="to-go-name" placeholder="Type Your Name">
                    </div>
                    <a class="btn btn-default pull-right" data-dismiss="modal">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Dessert menu, lists buttons to choose from different desserts offered -->
<div class="modal fade" id="desserts" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Dessert Pizza Builder - Choose your pizza!</a>
                    </div>
                </div>
                <div class="modal-body">
                    <ul class="row list-unstyled">
                        <li class="col-lg-4">
                            Crust Style
                        </li>
                        <li class="col-lg-4">
                            Sauce
                        </li>
                        <li class="col-lg-4">
                            Toppings
                        </li>
                    </ul>
                    <ul class="row list-unstyled">
                        <li class="col-lg-4">
                            <select id="dessertCrust" class="unstyled" >
                            </select>
                        </li>
                        <li class="col-lg-4">
                            <select id="dessertSauce">
                            </select>
                        </li>
                        <li class="col-lg-4">
                            <select id="dessertToppings" multiple="multiple">
                            </select>
                        </li>
                    </ul>
                    <ul class="row list-unstyled">
                        <p></p>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="special-instructions-dessert" placeholder="Type Your Special Instructions Here!">
                        </div>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" data-dismiss="modal" data-toggle="modal" href="#" onclick="addPizza(0)">Make my Pizza!</a>
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Logout screen displayed when the "Table 1" link is clicked -->
<div class="modal fade" id="logout" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <h4>Need Admin Approval To Sign Out</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="logout-username" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" required class="form-control" id="logout-username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="logout-password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" required class="form-control" id="logout-password" placeholder="********">
                        </div>
                    </div>
                    <h3 id="failed"></h3>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                    <a class="btn btn-default" onclick="logout()">Logout</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Pay Bill modal, allows users to choose to pay with cash, card, or split the check -->
<div class="modal fade" id="PayBill" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Pay the bill</a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- Card choice -->
                            <a href="#card" class="thumbnail" data-toggle="modal" data-dismiss="modal">
                                <img src="./images/credit-card.png" alt="breadsticks">
                            </a>
                            <p class="text-center">
                                Card
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <!-- Cash choice -->
                            <a href="#cash" class="thumbnail" data-toggle="modal" data-dismiss="modal">
                                <img src="./images/cash.png" alt="cash">
                            </a>
                            <p class="text-center">
                                Cash
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <!-- Split check choice -->
                            <a href="#split-check" class="thumbnail" data-toggle="modal" data-dismiss="modal">
                                <img src="./images/split-check.png" alt="split">
                            </a>
                            <p class="text-center">
                                Split the Check
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- The modal displayed when the user presses the "Cash" button -->
<div class="modal fade" id="cash" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Paying with cash?</a>
                    </div>
                </div>
                <div class="modal-body">
                    <p>Part of our wait-staff will be with you shortly.</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal displayed when the user click the "Card" button -->
<div class="modal fade" id="card" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Paying With Card</a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <!-- Request card number from user (max-length 16 digits) -->
                        <label for="Card Number" class="col-sm-2 control-label">Card #</label>
                        <div class="col-sm-10">
                            <input type="number" maxlength="16" required class="form-control" id="card-number" placeholder="1111-2222-3333-4444">
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- 3 digit SVC number needed -->
                        <label for="card-code" class="col-sm-2 control-label">SVC #</label>
                        <div class="col-sm-10">
                            <input type="password" maxlength="3" required class="form-control" id="card-code" placeholder="***">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        <a href="#approve" data-dismiss="modal" data-toggle="modal">Next Step</a>
                    </button>
                    <button type="submit" class="btn btn-default">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="approve" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Status</a>
                    </div>
                </div>
                <div class="modal-body">
                    <h4>Card Approved</h4>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal" onclick="beenPaid()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="PrintRecipt" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Recipt</a>
                    </div>
                </div>
                <div class="modal-body">
                    <h4>Recipt Printed</h4>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="AddTip" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Enter Tip Amount</a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <!-- Tip label and text-box -->
                        <label for="Card Number" class="col-sm-2 control-label">Tip</label>
                        <div class="col-sm-10">
                            <input type="number" step="0.01" required min="0" class="form-control" id="tipInput" placeholder="Type the amount or a percentage (i.e $4 or 10%)">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" data-dismiss="modal" data-toggle="modal" onclick="addTip()">Add Tip</a>
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- The tip screen, displayed after the Card screen -->
<div class="modal fade" id="tip" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <h4>Add the tip</h4>
                </div>
                <div class="modal-body">
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#tip-sel').multiselect();
                        });
                    </script>
                    <div class="form-group">
                        <!-- Tip label and text-box -->
                        <label for="Card Number" class="col-sm-2 control-label">Tip</label>
                        <div class="col-sm-10">
                            <input type="text" required class="form-control" id="tip-amount" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Percent</label>
                        <ul class="row list-unstyled">
                            <li class="col-lg-4">
                                <select class="unstyled" id="tip-sel">
                                    <option value=".1">10%</option>
                                    <option value=".15">15%</option>
                                    <option value=".2" selected="selected">20%</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="#confirm-check" data-dismiss="modal" data-toggle="modal">Next Step</a>
                    <button type="submit" class="btn btn-default">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Displays the tip, total, and combined total, also allows user to display if they have a coupon or not -->
<div class="modal fade" id="confirm-check" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <h4>Paying with Card</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Card Number" class="col-sm-2 control-label">Bill: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="bill-total" placeholder="$18.32" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tip-amount" class="col-sm-2 control-label">Tip: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="tip-amount" placeholder="$4.32" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="total" class="col-sm-2 control-label">Total: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="total" placeholder="$22.64" readonly>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" data-dismiss="modal" data-toggle="modal" href="#receipt">Correct</a>
                    <a class="btn btn-warning" data-dismiss="modal" data-toggle="modal" href="#coupon">I have a coupon</a>
                    <a class="btn btn-default" data-dismiss="modal" data-toggle="modal" href="#tip">Go back</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Pizza builder, Allows users to choose 1 sauce, 1 bread type, and as many toppings as they want
     along with the ability to provide special instructions   -->
<div class="modal fade" id="pizza-builder" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Pizza Builder - Choose your pizza!</a>
                    </div>
                </div>
                <div class="modal-body">
                    <ul class="row list-unstyled">
                        <li class="col-lg-4">
                            Crust Style
                        </li>
                        <li class="col-lg-4">
                            Sauce
                        </li>
                        <li class="col-lg-4">
                            Toppings
                        </li>
                    </ul>
                    <ul class="row list-unstyled">
                        <li class="col-lg-4">
                            <select id="crust" class="unstyled" >
                            </select>
                        </li>
                        <li class="col-lg-4">
                            <select id="sauce">
                            </select>
                        </li>
                        <li class="col-lg-4">
                            <select id="toppings" multiple="multiple">
                            </select>
                        </li>
                    </ul>
                    <ul class="row list-unstyled">
                        <p></p>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="special-instructions" placeholder="Type Your Special Instructions Here!">
                        </div>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" data-dismiss="modal" data-toggle="modal" href="#" onclick="addPizza(1)">Make my Pizza!</a>
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- The coupons are handled by handing them to wait-staff, so alert the guest someone is on their way -->
<div class="modal fade" id="AddCoupon" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Add Coupon</a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="couponForm" placeholder="Enter Coupon Code!">
                        <p id="couponResponse"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" onclick="addCoupon()">Add Coupon</a>
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Nutritional information, provides item names, calories, and allergy categories -->
<div class="modal fade" id="nutrition-info" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Nutrional Information</a>
                    </div>
                </div>
                <div class="modal-body modal-body-big">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Calories (Per Serving)</th>
                            <th>Allergy</th>
                        </tr>
                        </thead>
                        <tbody id="foodInformation">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- After the user confirms the check, a choice to have the receipt emailed or displayed is presented -->
<div class="modal fade" id="receipt" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">How do you want your receipt?</a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="#show-receipt" class="thumbnail" data-toggle="modal" data-dismiss="modal" onclick="printReceipt()">
                                <img src="./images/print.png" alt="print">
                            </a>
                            <p class="text-center">
                                Print
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <a href="#email" class="thumbnail" data-toggle="modal" data-dismiss="modal">
                                <img src="./images/email.png" alt="email">
                            </a>
                            <p class="text-center">
                                Email
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- This view is displayed when the user chooses to have their receipt emailed -->
<div class="modal fade" id="email" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <h4>Type Your email address</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="receipt-email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" required class="form-control" id="receipt-email" placeholder="Email Address">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Email my receipt</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- This view is displayed when the user chooses to print their receipt -->
<div class="modal fade" id="show-receipt" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Printed Receipt</a>
                    </div>
                </div>
                <div class="modal-body">
`               <h3>A server will be by with you receipt</h3>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- This view requests the amount of times to split the check -->
<div class="modal fade" id="split-check" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <h4>How many ways?</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="receipt-email" class="col-sm-2 control-label">Ways to Split</label>
                        <div class="col-sm-10">
                            <input type="number" required min="1" class="form-control" id="receipt-email" placeholder="Type the number (1-4)">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal" data-toggle="modal" href="#pay">Split the check</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- A simple game of guess the right button, randomized by javascript -->
<div class="modal fade" id="game" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Choose the right button!</a>
                    </div>
                </div>
                <div class="modal-body">
                    <ul class="row list-unstyled centered">
                        <li class="col-md-2">
                            <a class="btn btn-default" data-dismiss="modal" onclick="win(3)">
                                ?????
                            </a>
                        </li>
                        <li class="col-md-2">
                            <a class="btn btn-default" data-dismiss="modal" onclick="win(2)">
                                ?????
                            </a>
                        </li>
                        <li class="col-md-2">
                            <a class="btn btn-default" data-dismiss="modal" onclick="win(1)">
                                ?????
                            </a>
                        </li>
                        <li class="col-md-2">
                            <a class="btn btn-default" data-dismiss="modal" onclick="win(4)">
                                ?????
                            </a>
                        </li>
                        <li class="col-md-2">
                            <a class="btn btn-default" data-dismiss="modal" onclick="win(5)">
                                ?????
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="AddDrinkModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Add Guest</a>
                    </div>
                </div>
                <div class="modal-body">
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#drink').multiselect();
                        });
                    </script>
                    <ul class="row list-unstyled">
                        <li class="col-lg-12 col-md-12 col-sm-12">
                            Guest Name
                        </li>
                    </ul>
                    <ul class="row list-unstyled">
                        <li class="col-lg-12 col-md-12 col-sm-12">
                            <input type="text"  class="form-control" id="GuestName" placeholder="Type Guest Name"></li>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a href="#drinks" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" onclick="addDrink()">Add Guest</a>
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- calculates tip on load of modal -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#tip').on('shown.bs.modal', function () {
            var total = 15.22;
            var percent = .2;
            var tip = document.getElementById("tip-amount").value;
            document.getElementById("tip-amount").value = "$" + (total * percent).toFixed(2);
        });
    });
</script>
<!-- calculates tip when different choice is selected from drop down box -->
<script>
    $('#tip-sel').multiselect({
        onChange: function(option, checked, select) {
            var total = 15.22;
            document.getElementById("tip-amount").value = "$" + (total * $(option).val()).toFixed(2);
        }
    });
</script>

<!-- simple function that randomly chooses a number 1-5
        and if the one the customer chooses is the same,
        they win a free dessert (5 buttons, 1/5 chance) !-->
<script>
    function win(choice) {
        var choices=["1","2","3","4","5"]
        var right_choice = Math.floor(Math.random() * choices.length);

        if(choice == choices[right_choice])
        {
            alert("You win a free dessert!");
        }

        else
        {
            alert("Sorry, the right button was button number: " +choices[right_choice])
        }
    }
</script>
</body>
</html>
